// -------- Color themes -------- //
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$red: rgba(231, 76, 60, 1);
$orange: rgba(255, 165, 0, 1);
$green: rgba(46, 204, 113, 1);
$blue: rgba(52, 152, 219, 1);
$purple: rgba(155, 89, 181, 1);
$cyan: rgba(48, 205, 209, 1);

$dusker-grey: rgba(245, 245, 245, 1);
$dusk-grey: rgba(204, 204, 204, 1);

$lightest-grey: rgba(234, 235, 237, 1);
$light-grey: rgba(231, 231, 231, 1);
$grey: rgba(153, 153, 153, 1);
$dark-grey: rgba(142, 142, 147, 1);
$darkest-grey: rgba(138, 138, 143, 1);
// -------- Color themes -------- //


// -------- Screen sizes -------- //
$min-screen-width: 320px;
$max-screen-width: 1366px;
$min-screen-em-width: 20em;
$max-screen-em-width: 85.375em;
$mid-range-breakpoint: 62em;
// -------- Screen sizes -------- //

